
  


          <div class="col-md-4 mb-4">
            <div class="card">
            <div id="<%= dom_id picture %>">
              <img
                src="<%= picture.download_url %>"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <h5 class="card-title"><%= picture.author %></h5>
                <p class="card-text">
                <%= link_to "Show this picture", picture %>
                </p>
                <a href="<%= picture.download_url %>" class="btn btn-primary">Open</a>
              </div>
            </div>
          
      </div>
</div>